<header class="bg-white shadow-md fixed top-0 left-0 w-full">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <div class="flex items-center">
      <a href="/"><img src="/airbnb_logo.webp" alt="Airbnb Icon" class="h-8 w-auto" /></a>
    </div>
    <nav class="flex space-x-4">
      <a
        href="/hotels"
        class="<% if(activePage === 'hotels') { %>active font-semibold<% } %>"
        >Hotels</a
      >
      <a
        href="/favourites"
        class="<% if(activePage === 'favourites') { %>active font-semibold<% } %>"
        >Favourites</a
      >
      <a
        href="/bookings"
        class="<% if(activePage === 'bookings') { %>active font-semibold<% } %>"
        >Bookings</a
      >
      <a
        href="/host/hotels"
        class="<% if(activePage === 'host-hotels') { %>active font-semibold<% } %>"
        >Host Hotels</a
      >
      <a
        href="/host/hotels/add"
        class="<% if(activePage === 'add-hotel') { %>active font-semibold<% } %>"
        >Add Hotel</a
      >
    </nav>
  </div>
</header>
